// COLORS

:root {
    --white-color: #ffffff;
    --black-color: #000000;
    --dark-color: #222222;
    --main-blue: #264653;
    --light-brown: #e9c46a;
    --grey-dark: #444444;
    --grey-mid: #555555;
    --grey-light: #bbbbbb;
    --grey-so-light: #eeeeee;
}